matplotlib==2.0.2
multiprocess==0.70.5
numpy==1.13.3
tqdm==4.19.1.post1
# spectrum_overlaod requirements
scipy
astropy
pyastronomy
git+https://github.com/jason-neal/spectrum_overload#egg=spectrum_overload
